$gap: 1rem;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  @media (max-width: 576px) {
    main {
      margin: 5rem 0.5rem
    }
  }

  .form-generator {
    width: 100%;
    max-width: 600px;
  }

  .form {
    display: grid;
    grid-auto-flow: row;
  }

  .date-row {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-areas: 'd t b';
    gap: $gap;
  }

  @media (max-width: 576px) {
    .date-row {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'd t'
        'b b';
      gap: 0 $gap;
      margin-bottom: $gap;
    }
  }

  .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
  }

  button {
    height: 56px;
    font-size: 1rem;
  }
}
