html, body { display: flex; height: 100%; width: 100%; align-items: center; justify-content: center; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root { height: 100%; width: 100%; }
